header {
	height: 72px;
}
header nav ul li{
	display: inline;
	display: center;
	float: right;
	padding-right: 30px;
}


body {
	background-image: url(../images/background.jpg);
	background-position: center center fixed;
	height: 1010px;
	background-size: 1920px 1010px;
	background-repeat: no-repeat;
	margin-left: 376px;
	margin-top: 260px;
}

h1 {
	font-family: 'Teko';
	font-size: 120px;
	font-weight: 300;
	color: white;
	text-transform: uppercase;
	letter-spacing: 20px;
	padding-bottom: 36px;
}

h2 {
	font-family: 'Titillium Web';
	font-size: 26px;
	color: white;
	font-weight: 300;
	max-width: 58%;
	opacity: 0.7;
	padding-bottom: 36px;
}


section p {
	font-family: 'Titillium Web';
	font-size: 16px;
	color: white;
	opacity: 0.5;
	font-weight: 300;
	max-width: 58%;
}
main section {
	text-align: left;
}

h3 {
	font-family: 'Teko';
	font-size: 30px;
	color: white; 
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding-bottom: 35px;
}
h5 {
	font-family: 'Titillium Web';
	font-size: 18px;
	font-weight: 300;
	color: white;
	opacity: .5;
	padding-bottom: 35px;
}
input {
	background-color: white;
	width: 375px;
	height: 50px;
	padding-left: 18px;
	font-family: 'Titillium Web';
	color: #555555;
	font-size: 16px;
	font-weight: 300;
}
aside {
	padding-top: 57px;
	padding-bottom: 100px;
}
footer {
	display: inline;
}

footer a {
	text-decoration: none;
}
small {
	font-family: 'Titillium Web';
	font-size: 13px;
	color: #959595;
	font-weight: 300;
	float: left;
}

nav ul {
	list-style: none;
}
nav li {
	font-family: 'Titillium Web';
	font-size: 13px;
	font-weight: 300;
	color: #959595;
	padding-left: 20px;
	display: inline;
	float: right;
}

nav li a {
	text-decoration: none;
}